<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produtos</title>
  </head>
  <body>
    <h1>Produtos</h1>
    <h2>Sofas</h2>
    <h2>Poltronas</h2>

    <p><a href="/">Voltar</a></p>
  </body>
</html>